<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>738475194275-uiag7ovrjd63hir5a4ukgufcnejvveor.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.738475194275-uiag7ovrjd63hir5a4ukgufcnejvveor</string>
	<key>API_KEY</key>
	<string>AIzaSyB09qAfpTGdMdf9yot1vi-yxMCf57enyBc</string>
	<key>GCM_SENDER_ID</key>
	<string>738475194275</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Manu.Bolonyay-App</string>
	<key>PROJECT_ID</key>
	<string>bolonyay</string>
	<key>STORAGE_BUCKET</key>
	<string>bolonyay.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:738475194275:ios:227ef08b22e0861ae78c16</string>
</dict>
</plist>