<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>google </string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.738475194275-uiag7ovrjd63hir5a4ukgufcnejvveor</string>
			</array>
		</dict>
	</array>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>googlegmail</string>
		<string>ymail</string>
		<string>ms-outlook</string>
		<string>mailto</string>
	</array>
	<key>NSMicrophoneUsageDescription</key>
	<string>BoloNyay needs access to your microphone to detect your language and enable voice-based legal form filling.</string>
	<key>NSAudioSessionUsageDescription</key>
	<string>BoloNyay uses audio recording to detect your preferred language for multilingual support.</string>
</dict>
</plist>
